.header {
    @include theme($themes-g100);
    position: sticky;
    top: 0;
}

.content {
    padding: $spacing-06;
    display: flex;
    gap: $spacing-07;
    margin-top: 0 !important;
}


@include apply-lesser-than('md') {
    .content {
        margin-left: unset !important;
    }
}
