.header {
  @include theme($themes-g100);
  position: sticky;
  top: 0;
}

.content {
  display: flex;
  gap: $spacing-08;
  justify-content: center;
}

@include apply-lesser-than('md') {
  .content {
    margin-left: unset !important;
  }
}
