.header {
    @include theme($themes-g90);
    position: sticky;
    top: 0;
}

.content {
    padding: $spacing-07;
    display: flex;
    justify-content: space-between;
    gap: $spacing-07;
    margin-top: $header-height !important;
}


@include apply-lesser-than('md') {
    .content {
        margin-left: unset !important;
    }
}