.toc {
    position: sticky;
    left: 0;
    top: calc($header-height + $spacing-07);
    border: 1px solid $gray-30;
    height: fit-content;
    width: fit-content;
    padding: $spacing-05;
    display: flex;
    flex-direction: column;
    gap: $spacing-03;

    & a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@include apply-lesser-than('lg') {
    .toc {
        display: none;
    }
}