.toc {
  position: sticky;
  top: calc($header-height + $spacing-07);
  height: calc(100vh - $header-height - $spacing-07 - $spacing-07);
  width: $sidebar-width;
  overflow-y: auto;

  & .tocHeader {
    & > a {
      color: unset;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    margin-bottom: $spacing-04;
  }
}

@include apply-lesser-than('lg') {
  .toc {
    display: none;
  }
}
