.code {
  font-size: 0.7rem;
  padding: $spacing-01;
  max-width: 100%;
}

.codeBlock {
  box-sizing: border-box;

  padding: $spacing-04;
  margin-bottom: $spacing-06;

  & > div:focus {
    outline: none !important;
  }

  & pre {
    padding-bottom: 0 !important;
  }
}
