:export {
  headerHeight: $header-height;
}

.toc {
  position: sticky;
  top: calc($header-height + $spacing-07);
  justify-content: flex-start;
  display: flex;
  height: min-content;
  overflow-y: auto;
  width: $sidebar-width;
  flex-shrink: 0;

  padding: $spacing-05;

  background-color: $gray-10;
  border: 1px solid $gray-50;
}

.tocStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-02;
}

.tocHeader {
  & > a {
    color: unset;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.link {
  @include type-style('body-01');
  position: relative;
  display: inline-block;
  transition: color 100ms;
  color: currentColor;
  text-decoration: none;

  margin-left: $spacing-05;

  &:hover {
    text-decoration: underline;
  }

  &:before {
    content: '\21B3';
    position: absolute;
    left: -$spacing-05;
    color: currentColor;
    cursor: pointer;
  }
}

.activeItem {
  color: $blue-70;
}

@include apply-lesser-than('lg') {
  .toc {
    display: none;
  }
}
