.content {
  position: relative;

  & h2 {
    margin-bottom: $spacing-05;
  }

  & p {
    @include type-style('body-01');
    margin-bottom: $spacing-04;
  }
}

.contentText {
  margin-bottom: $spacing-07;
}

.tileContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: $spacing-02;
}

.tile {
  width: auto !important;
}

@include apply-lesser-than('md') {
  .tileContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include apply-lesser-than('sm') {
  .tileContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
