.wrapper {
  display: flex;
  flex-direction: row;
  gap: $spacing-07;
}

.article {
  width: min(calc($content-width - $sidebar-width), 100%);
  line-height: 1.5;
  box-sizing: border-box;

  @include headings {
    margin-bottom: $spacing-02;
    scroll-margin-top: calc($header-height + $spacing-04);
    & > a {
      text-decoration: none;
      color: unset;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & section[data-heading-rank='2'] {
    margin-bottom: $spacing-07;
  }

  & section[data-heading-rank='3'] {
    margin-bottom: $spacing-06;
    margin-top: $spacing-05;
  }

  & section[data-heading-rank='4'] {
    margin-bottom: $spacing-05;
    margin-top: $spacing-04;
  }

  h2 {
    @include type-style('heading-04');
  }

  h3 {
    @include type-style('heading-03');
    font-weight: bold;
  }

  h4 {
    @include type-style('heading-02');
  }

  span {
    max-width: 100%;
  }

  p {
    @include type-style('body-01');
    // font-size: 15px;
    margin-bottom: $spacing-04;
  }

  ul,
  ol {
    margin-left: $spacing-06;
    margin-bottom: $spacing-05;
    @include type-style('body-01');

    & ul,
    & ol {
      margin-left: $spacing-03;
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: number;
  }
}
