.article {
  width: min(100%, 975px);
  line-height: 1.5;
  box-sizing: border-box;
  margin-top: $header-height;

  @include headings {
    margin-bottom: $spacing-02;
    scroll-margin-top: calc($header-height + $spacing-04);
    & > a {
      text-decoration: none;
      color: unset;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    @include type-style('heading-05');
    margin-bottom: $spacing-03;
  }

  h2 {
    @include type-style('heading-04');
    margin-top: $spacing-07;
  }

  h3 {
    @include type-style('heading-03');
    font-weight: bold;
    margin-top: $spacing-06;
  }

  h4 {
    @include type-style('heading-02');
    margin-top: $spacing-05;
  }

  span {
    max-width: 100%;
  }

  p {
    @include type-style('body-01');
    margin-bottom: $spacing-03;
  }

  ul,
  ol {
    margin-left: $spacing-06;
    margin-bottom: $spacing-05;
    @include type-style('body-01');

    & ul,
    & ol {
      margin-left: $spacing-03;
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: number;
  }
}

.noToc {
  margin-right: calc($sidebar-width + $spacing-08);
}

@include apply-lesser-than('lg') {
  .noToc {
    margin-right: 0;
  }
}
