.header {
  justify-content: space-between;
  position: sticky;
  top: 0;
  @include theme($themes-g100);
}

.headerNav {
  padding-right: $spacing-05;

  & li {
    display: flex;
    align-items: center;
  }
}

.wrapper {
  min-height: 100vh;
  margin-left: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 0 !important;
  padding-top: $header-height !important;
}

.headerButton {
  // visibility: hidden;
  display: none !important;
}

@include apply-lesser-than('lg') {
  .content {
    justify-content: flex-start;
  }
}

@include apply-lesser-than('md') {
  .content {
    margin-left: 0 !important;
  }

  .wrapper {
    margin-left: 0;
  }

  .headerButton {
    display: flex !important;
  }
}
