.pageHeader {
  height: 15rem;
  background-color: $black-100;
  color: $white-0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid $gray-80;
}

.contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metadata {
  display: flex;
  justify-content: flex-end;
}

.timeTag {
  background-color: transparent !important;
  border: 1px solid white;
}

@include apply-lesser-than('md') {
  .pageHeader h1 {
    font-size: $spacing-08;
  }
}

@include apply-lesser-than('sm') {
  .pageHeader h1 {
    font-size: $spacing-07;
  }
}
