@use "sass:map";

$blockStyles: (
  "standard": blue,
  "success": green,
  "warning": yellow,
  "danger": red
);

:export {
  types: map.keys($blockStyles)
}

.blockQuote {
  display: flex;
  padding: $spacing-04;
  gap: $spacing-04;
  margin: $spacing-05 0;
  border-left-width: 5px;

  & p {
    margin-bottom: 0 !important;
  }

  & svg {
    height: fit-content;
    flex-shrink: 0;
  }
}

.blockQuoteContent {
  display: flex;
  flex-direction: column;
  gap: $spacing-05
}

@each $name,
$color in $blockStyles {
  .#{$name} {
    background-color: map-deep-get($colors, $color, 10);
    border: 1px solid map-deep-get($colors, $color, 60);

    & svg {
      fill: map-deep-get($colors, $color, 60);
    }
  }
}
