.sidebar {
  @include theme($themes-g10);
}

.tree {
  @include theme($themes-white);

  *>a {
    text-decoration: none;
    color: unset;
  }
}

@for $i from 0 through 5 {
  .col-#{$i} {
    &>button>span {
      padding-left: calc($i * $spacing-05);
    }

    &>span {
      padding-left: calc(max($i - 1, 0) * $spacing-05);
    }
  }
}

@include apply-greater-than('md') {
  .sidebar {
    border-right: 1px solid $gray-20;
  }
}
