@use 'sass:list';

$chunk-colors: blue, green, red, purple, yellow, orange, gray;
$input-height: 10rem;

:export {
  colorsLength: list.length($chunk-colors)
}

.container {
  width: inherit;
}

.applet {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $input-height;
  gap: $spacing-03;
}

.appletSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: max-content;
  position: relative;
}

.inputSection {
  & textarea {
    resize: none;
    border: 1px solid $gray-50;
  }

  & div:nth-child(2) {
    flex-grow: 1;
  }
}

.outputSectionLabel {
  margin-bottom: $spacing-03;
}

.outputSection {
  display: flex;
  flex-grow: 1;
  overflow: scroll;
  border: 1px solid $gray-50;
  padding: $spacing-04 $spacing-05;
}

.tokenList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: $spacing-02;
  height: min-content;
}

.chunk {
  border-radius: 5px;
  padding: 0 .25rem;
  height: fit-content;
  width: fit-content;
  margin: 0 !important;

  @each $value in $chunk-colors {
    $index: list.index($chunk-colors, $value);

    &_#{$index - 1} {
      border: 1px solid map-deep-get($colors, $value, 60);
      color: map-deep-get($colors, $value, 60);
      background-color: map-deep-get($colors, $value, 10);
    }
  }
}

.counterTag {
  position: absolute;
  bottom: $spacing-02;
  right: $spacing-02;
  border: 1px solid rgba($color: #000, $alpha: 0.25);
}

@include apply-lesser-than('sm') {
  .applet {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, $input-height);
  }
}
