.code {
  font-size: 0.7rem;
  padding: $spacing-01;
  max-width: inherit;
  border: 1px solid $gray-20;
}

.codeBlock {
  box-sizing: border-box;
  padding: $spacing-04;
  margin-bottom: $spacing-06;

  &>div:focus {
    outline: none !important;
  }

  & pre {
    padding-bottom: $spacing-01 !important;
  }
}

.codeInline {
  & * {
    white-space: normal !important;
    word-wrap: break-word;
  }
}
